body {
  overflow-x: hidden;
}

#firstImage {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

#secondTask {
  margin: 400px;
  width: 20%;
  color: red;
  background-color: lightgreen;
}

#thirdTask {
  width: 30%;
  height: 500px;
  border-radius: 20%;
}

#athirdTask {
  margin-left: 90px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

#fourthTask {
  color: red;
  background-color: lightgreen;
  margin-top: 200px;
  margin-left: 50%;
  width: 180px;
}

.buttons {
  background-color: purple;
  color: white;
}

.text {
  color: red;
  width: 19%;
  margin-left: 15%;
  background-color: lightgreen;
  font-size: 40px;
}

.btext {
  color: red;
  background-color: lightgreen;
  margin-left: 15%;
  width: 19%;
  text-align: center;
  margin-top: 50px;
}
